<Section id="Portofolio">
<div class="container d-flex align-items-center flex-column">
<h1 class="mt-5 text-center">PORTFOLIO</h1>
<div class="portofolio-icons d-flex justify-content-center align-items-center w-100">
<div class="leftline mr-3"></div>
<i class="fas fa-star text-center"></i>
<div class="rightline ml-3"></div>
</div>
<div class="portfolio-items">
<div class="row p-5">
    <div class="col-md-4">
        <div class="item">
            <div class="layer w-100 h-100 d-flex justify-content-center align-items-center">
                <div class="layer-icon">
                    <i class="fas fa-plus"></i>
                </div>
            </div> 
            <img src="assets/cabin.png" alt="" class="w-100 h-100">
        </div>

    </div>
    <div class="col-md-4">
        <div class="item">
            <div class="layer w-100 h-100 d-flex justify-content-center align-items-center">
                <div class="layer-icon">
                    <i class="fas fa-plus"></i>
                </div>
            </div> 
            <img src="assets/cake.png" alt="" class="w-100 h-100">
        </div>

    </div>
    <div class="col-md-4">
        <div class="item">
            <div class="layer w-100 h-100 d-flex justify-content-center align-items-center">
                <div class="layer-icon">
                    <i class="fas fa-plus"></i>
                </div>
            </div> 
            <img src="assets/circus.png" alt="" class="w-100 h-100">
        </div>

    </div>
    <div class="col-md-4">
        <div class="item">
            <div class="layer w-100 h-100 d-flex justify-content-center align-items-center">
                <div class="layer-icon">
                    <i class="fas fa-plus"></i>
                </div>
            </div> 
            <img src="assets/game.png" alt="" class="w-100 h-100">
        </div>

    </div>
    <div class="col-md-4">
        <div class="item">
            <div class="layer w-100 h-100 d-flex justify-content-center align-items-center">
                <div class="layer-icon">
                    <i class="fas fa-plus"></i>
                </div>
            </div> 
            <img src="assets/safe.png" alt="" class="w-100 h-100">
        </div>

    </div>
    <div class="col-md-4">
        <div class="item">
            <div class="layer w-100 h-100 d-flex justify-content-center align-items-center">
                <div class="layer-icon">
                    <i class="fas fa-plus"></i>
                </div>
            </div> 
            <img src="assets/submarine.png" alt="" class="w-100 h-100">
        </div>

    </div>
    
</div>
</div>
</div>
</Section>