<Section class="Home text-center text-white">
<div class="container d-flex align-items-center flex-column">
<img class="masthead-avatar mb-5" src="https://start-angular.netlify.app/assets/img/avataaars.svg" alt="boyhead">
<h1 class="text-uppercase masthead-heading mb-0">Start Angular</h1>
<div class="icons d-flex justify-content-center align-items-center w-100">
<div class="leftline mr-3"></div>
<i class="fas fa-star"></i>
<div class="rightline ml-3"></div>
</div>
<p class="mb-auto">Graphic Artist - Web Designer - Illustrator</p>
</div>
</Section>
